body {
  font-family: Arial;
  font-size: 16px;
  padding: 10px 40px;
}
ul {
  padding-left: 0;
}
li {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
li:hover {
  background-color: #C5DAF7;
}
li:first-child {
  border-top-radius: 2px;
}
li:last-child {
  border-bottom-radius: 2px;
}